.main {
    border: 1px solid black;
}

.main__title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem;
}

.main__challenge-container {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem;
}